html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.slider {
  height: auto;
  margin: 0;
}

.slick-slide {
  margin: 0;
  padding: 0;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}


.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: .5;
}

.slick-current {
  opacity: 1;
}

.main-grid {
  display: grid;
  grid-template: 800px / 35% 65%;
  grid-template-areas:    "inf car";
  grid-gap: 0px;
  height: 800px;
  width: 100%;
  padding: 0;
  margin: 0;
}

.main-info {
  grid-area: inf;
  background-color: blue;
}

.main-carousel {
  grid-area: car;
}